*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
header{
    width: 100%;
    height: 70px;
    background-color: #323f5b;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    margin-left: 60px;
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.first{
   
    width: 100%;
    height: 70px;
    background-color:#3e5d88;
    align-items: center;
    justify-content: center;
    position: sticky;
    display: flex;
    top: 0;
}

a{
    color: #f5f6f5;
    font-weight: bold;
}
a:hover{
    color: blue;
}
.home{
    font-size: 30px;
    display: flex;
    align-items:center;
    list-style-type:none;
    height: 100%;
    width: 90%;
    gap:70px ;
}

body{
    
    background-color: #c6d4e2;
}
h1{
    padding-left: 170px;
}
.contact{
    padding-top: 10px;
}
.contact p{
    padding-left: 25px;
}
.contact h1{
    margin-bottom:30px;
    color:#333;
}

.container{
   
    display:flex;
    justify-content:space-around;
}

.contact-info{
    border-left: 5px solid rgb(87, 105, 142);
    width:25%;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 40px;
}

.info-box{
    margin-left: 10px;
    margin-bottom:25px;
}

.info-box h3{
    margin-bottom:5px;
    color:#444;
}

.social {
    margin-left: 30px;
    font-size:20px;
}

.contact-form{
    font-size: 20px;
    width:40%;
   background-color: rgb(127, 165, 216);
    padding:30px;
    border-radius:8px;
}

.contact-form h2{
    color:white;
    margin-bottom:20px;
}
.contact-form input,
.contact-form textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:none;
    border-radius:5px;
    justify-content:space-around;
}
.contact-form textarea{
    height:100px;
}
h5{
    color: rgb(55, 43, 43);
}

.contact-form button{
    padding:10px 20px;
    border:none;
    background:#254158;
    color:#cde1ff;
    cursor:pointer;
    border-radius:5px;
}